.detail-view {
  display: block;
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}
.detail-view.detail-view--hidden {
  display: none;
}
  .detail-view a {
    color: #0d0d0d;
    text-decoration: none;
  }
    .detail-view a:hover {
      text-decoration: underline;
    }
    .detail-view a:after {
      content: '\21f1';
      display: inline-block;
      margin-left: 0.125em;
      transform: scaleX(-1);
    }

  .detail-view .detail--modal--background {
    background-color: #999;
    background-color: rgba(153, 153, 153, 0.2);
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .detail-view .detail--frame {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: 0 4px 5px -2px rgba(0, 0, 0, 0.375);
    display: block;
    left: 5%;
    padding: 1em;
    position: absolute;
    top: 2em;
    width: 80%;
    z-index: 9002;
  }
    .detail-view .detail--close {
      border-width: 0;
      cursor: pointer;
      font-size: 1em;
      padding: 0.25em 0.5em;
      position: absolute;
      right: 0.25em;
      top: 0.25em;
    }
    .detail-view .detail--close:hover {
      background-color: #aaa;
    }

    .detail-view .detail--name {
      font-family: Tinos, Times, "Times New Roman", serif;
      font-size: 1.5em;
      font-weight: bold;
      margin-top: 0.166667em;
      max-width: 80%;
    }

    .detail-view .detail--wrapper {
      overflow-y: scroll;
    }

    .detail-view .detail--details th,
    .detail-view .detail--details td {
      padding-bottom: 1em;
      vertical-align: top;
    }
    .detail-view .detail--details th {
      font-family: Tinos, Times, "Times New Roman", serif;
      max-width: 10em;
      padding-right: 1em;
      text-align: left;
    }
    .detail-view .detail--details td {
      font-size: 0.875em;
    }

@media screen and (max-width: 25em) {
  .detail-view {
    font-size: 0.875em;
  }
    .detail-view .detail--details,
    .detail-view .detail--details tbody,
    .detail-view .detail--details tr,
    .detail-view .detail--details th,
    .detail-view .detail--details td {
      display: block;
      max-width: unset;
    }
      .detail-view .detail--details th {
        padding-bottom: 0.5em;
        padding-right: 0;
      }
      .detail-view .detail--details td {
        padding-left: 1em;
        padding-bottom: 1.5em;
      }
}
