.results-view {
  font-family: "Lucida Grande", Verdana, Arial, sans-serif;
  margin-top: 6.5em;
}
  .results-view a {
    color: #0d0d0d;
    text-decoration: none;
  }
    .results-view a:hover {
      text-decoration: underline;
    }

  .results-view .results--results {
    width: 100%;
  }
    .results-view .results--results th {
      font-family: Tinos, Times, "Times New Roman", serif;
      font-size: 1.125em;
    }
    .results-view .results--results th,
    .results-view .results--results td {
      padding-bottom: 0.75em;
      padding-right: 1em;
      text-align: left;
      vertical-align: top;
    }
    .results-view .results--results th:last-of-type,
    .results-view .results--results td:last-of-type {
      padding-right: 0;
    }
      .results-view .results--results td abbr {
        text-decoration: none;
      }
      .results-view .results--result--show-detail {
        font-family: Tinos, Times, "Times New Roman", serif;
      }
      .results-view .results--result--distance {
        color: #999;
        display: block;
        font-size: 0.75em;
      }

    .results-view .results--result--map abbr {
      text-decoration: none;
    }
    .results-view .results--result--map abbr {
      display: inline-block;
      transform: scaleX(-1);
    }
