.results-view {
  font-family: Helvetica, Arial, sans-serif;
}
  .results-view .results--results {
  }
    .results-view .results--results th {
      text-align: left;
    }
    .results-view .results--results td abbr {
      text-decoration: none;
    }
