.filter-control {
  font-family: Helvetica, Arial, sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9001;
}
@media screen and (max-width: 25em) {
  .filter-control {
    font-size: 0.875em;
  }
}

.filter-control .filters--status {
  background-color: #fff;
  font-size: 1.142857em;
  margin: 0;
  padding: 0.75em;
  position: relative;
  z-index: 9010;
}

.filter-control .filters--filters {
  margin-bottom: 0;
}
  .filter-control .filters--fields,
  .filter-control .filters--field {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    text-indent: 0;
  }
  .filter-control .filters--fields {
    background-color: #fff;
    box-shadow: 0 1px 3px #000;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0.5em;
    padding-bottom: 1em;
  }
  .filter-control .filters--field:not(:last-of-type) {
    margin-bottom: 1em;
  }
    .filter-control .filters--field--name {
      font-weight: bold;
      margin-right: 2em;
      margin-top: 0;
    }
    .filter-control .filters--field--name,
    .filter-control .filters--field--options {
      display: inline-block;
      vertical-align: top;
    }
    .filter-control .filters--field--options,
    .filter-control .filters--field--option {
      list-style-type: none;
      margin-left: 0;
      padding-left: 0;
      text-indent: 0;
    }
      .filter-control .filters--field--option {
        display: inline-block;
        margin-right: 0.75em;
        position: relative;
        vertical-align: top;
      }

      .filter-control .filters--field--options--columns .filters--field--option {
        width: 45%;
      }
        @media screen and (min-width: 30em) {
          .filter-control .filters--field--options--columns .filters--field--option {
            width: 30%;
          }
        }
        @media screen and (min-width: 50em) {
          .filter-control .filters--field--options--columns .filters--field--option {
            width: auto;
          }
        }

        .filter-control .filters--field--option input[type="checkbox"] {
          left: 0;
          position: absolute;
          top: 0;
        }
        .filter-control .filters--field--option--label {
          display: block;
          margin-left: 1.5em;
          vertical-align: top;
        }
          .filter-control .filters--field--option--label abbr {
            text-decoration: none;
          }

  .filter-control.filters--filters--collapsed .filters--fields {
    display: none;
  }
  .filter-control .filters--collapse {
    border-top: 1px solid #aaa;
    text-align: right;
  }
    .filter-control .filters--collapse input[type="checkbox"] {
      display: none;
    }
    .filter-control .filters--collapse--label {
      background-color: #eee;
      border: 1px solid #aaa;
      border-top-width: 0;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
      color: #666;
      cursor: pointer;
      display: inline-block;
      padding: 0.5em;
      position: relative;
      text-align: center;
      transition: background-color 0.2s, border-color 0.2s, color 0.2s, font-weight 0.2s;
      width: 8em;
    }
      .filter-control .filters--collapse--label:before {
        color: #aaa;
        content: '\2191';
        left: 0.375em;
        position: absolute;
        transition: transform 0.3s;
        top: 0.25em;
      }
        .filter-control .filters--collapse input[type="checkbox"]:checked + .filters--collapse--label:before {
          transform: rotate(0.5turn) translateY(-0.25em);
        }
